.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fefefe;
  background-color: #0f0f0f;
  height: 100vh;
  width: 100vw;

  &--block {
    display: flex;
    justify-content: center;
  }
}

.led-color {
  &--preview {
    display: flex;
    align-items: center;

    div {
      height: 24px;
      width: 24px;
      margin-left: 24px;
    }
  }
}
